<h1 class="page-header">
  <img src="logo.png" width="25" height="25" alt="logo">
  {{title}}
  <img src="logo.png" width="25" height="25" alt="logo">
</h1>
<h2 class="page-header">
  <a [routerLink]="['/home']">HOME</a> |
  <a [routerLink]="['/scores']">Scores</a>
</h2>
<h3 *ngIf="username == null" class="page-header">
  <a [routerLink]="['/login']">Login</a> |
  <a [routerLink]="['/signup']">Signup</a>
</h3>
<h3 *ngIf="username != null" class="page-header">
  <a [routerLink]="['/game']">Game</a> |
  <a [routerLink]="['/home']" (click)="logOut()">Logout - {{username}}</a>
</h3>
<hr>
<router-outlet></router-outlet>
